body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #e0e0e0;
}

/* Header Styling */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #000;
  position: relative;
}

h1.event-nest-heading {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile .user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-profile .username {
  margin-left: 10px;
  color: #ffffff;
}

.top-right-buttons {
  display: flex;
  gap: 10px;
}

.top-right-buttons .btn {
  padding: 10px 20px;
  background-color: #bb86fc;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.top-right-buttons .btn:hover {
  background-color: #985eff;
}

/* Event Container Styles */
.event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
  margin-top: 20px; /* Add space between header and event cards */
}

/* Event Card Styles */
.event-card {
  background-color: #242424;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 300px;
  margin: 20px;
  padding: 20px;
  color: #ffffff;
  transition: transform 0.2s, box-shadow 0.2s;
  border: 2px solid #ffffff; /* Added white border */
}

/* Card Buttons */
.event-card .btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  background-color: #bb86fc;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Merriweather', serif;
  transition: background-color 0.3s ease;
}

.event-card .btn:hover {
  background-color: #985eff;
}
