<<<<<<< HEAD
=======
/* Existing styles */
>>>>>>> dee4998eabff923526f6e933805e2739c224129e
/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #060101;
  color: #ffffff;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust space between search bar and buttons */
}

.user-profile {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Add space between user profile and heading */
}

.user-profile .user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ffffff; /* Add a border to make it stand out */
}

.user-profile .username {
  margin-left: 10px;
  color: #ffffff;
}

h1.event-nest-heading {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

/* Advanced Search Bar Styles */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #242424;
  border-radius: 20px;
  padding: 5px 10px;
  border: 2px solid #ffffff; /* Border to match the event cards */
}

.search-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 5px;
  font-size: 16px;
  width: 200px; /* Adjust the width as needed */
}

.search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-btn img {
  width: 20px;
  height: 20px;
  filter: invert(100%); /* Make the icon white */
}


hr.header-divider {
  border: none;
  height: 1px;
  background-color: #4e4d4d;
  margin: 3;
}


.top-right-buttons {
  display: flex;
  gap: 10px;
}

.top-right-buttons .btn {
  padding: 10px 20px;
  background-color: #6c2fb7;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.top-right-buttons .btn:hover {
  background-color: #5e39aa;
}

/* Event Container Styles */
.event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
  margin-top: 20px; /* Add space between header and event cards */
}

/* Event Card Styles */
.event-card {
  background-color: #242424;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 300px;
  margin: 20px;
  padding: 20px;
  color: #ffffff;
  transition: transform 0.2s, box-shadow 0.2s;
  border: 2px solid #ffffff; /* Added white border */
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.event-card h2 {
  margin-top: 0;
  color: #bb86fc;
}

.event-card p {
  margin: 10px 0;
}

/* Card Buttons */
.card-buttons {
  display: flex;
  justify-content: space-between;
}

<<<<<<< HEAD
.card-buttons .btn {
=======
.btn {
  padding: 0.8em 1.0em;
  border: 2px solid #764aac;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #a165d2;
}

.btn::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #945bd2;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.btn:hover::before {
  width: 105%;
}

.btn:hover {
  color: #111;
}

#chat-box {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #1e1e1e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#messages {
  list-style-type: none;
  padding: 0;
  color: #ffffff;
}

#messages li {
  padding: 10px;
  border-bottom: 1px solid #333;
}

input#message {
  width: calc(100% - 60px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #2a2a2a;
  color: #ffffff;
}

button#send {
>>>>>>> dee4998eabff923526f6e933805e2739c224129e
  padding: 10px 20px;
  background-color: #ffffff; /* Changed button background color to white */
  border: none;
  border-radius: 5px;
  color: #242424; /* Changed text color to match the card background */
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover state for buttons */
.card-buttons .btn:hover {
  background-color: #e0e0e0; /* Slightly darker shade on hover */
}

/* Additional Button Styling */
.btn.register-btn {
  background-color: #ffffff; /* Changed button background color to white */
}

.btn.go-to-event-btn {
  background-color: #ffffff; /* Changed button background color to white */
}

.btn.go-to-event-btn:hover {
  background-color: #e0e0e0; /* Slightly darker shade on hover */
}
<<<<<<< HEAD
=======

.form-container p {
  font-size: 14px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group-inline {
  display: inline-block;
  width: calc(50% - 10px);
  vertical-align: top;
}

.form-group-inline + .form-group-inline {
  margin-left: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input,
.form-group-inline input {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;
}

.register-btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}

.register-btn:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  transition: all 0.2s ease-out;
}

.register-btn:hover::before {
  animation: sh02 0.5s 0s linear;
}

.register-btn::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.register-btn:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}

/* Updated button styles */
button {
  position: relative;
  padding: 10px 20px;
  border: none;
  background: #333;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;
}

button:hover {
  background: #000;
  cursor: pointer;
}

button span {
  position: absolute;
  display: block;
}

button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #ff0057);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ff0057);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, #ff0057);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ff0057);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
>>>>>>> dee4998eabff923526f6e933805e2739c224129e
