<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room for {{ event.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Chat Room for {{ event.name }}</h1>
    <div id="chat-box">
        <ul id="messages"></ul>
    </div>
    <input id="message" autocomplete="off" /><button id="send">Send</button>
    <script>
        var socket = io();
        var room = "{{ event.id }}";
        var username = prompt("Enter your name");

        socket.emit('join', {username: username, room: room});

        socket.on('message', function(msg){
            $('#messages').append($('<li>').text(msg));
        });

        $('#send').click(function(){
            socket.emit('message', {message: $('#message').val(), room: room});
            $('#message').val('');
        });
    </script>
</body>
</html>
