<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>EVENT-NEST</h1>
    </header>
    <main>
        <h2>Events</h2>
        <a href="{{ url_for('post_event') }}" class="btn">Post a New Event</a>
        <div class="event-container">
            {% for event in events %}
            <div class="event-card">
                <h2>{{ event.name }}</h2>
                <p><strong>Address:</strong> {{ event.address }}</p>
                <p><strong>Time:</strong> {{ event.time }}</p>
                <p><strong>Domain:</strong> {{ event.domain }}</p>
                <a href="{{ url_for('register', event_id=event.id) }}" class="btn">Register</a>
                <a href="{{ url_for('event_detail', event_id=event.id) }}" class="btn">Go to Event</a>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
